<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression">
	<!-- <test name="RedeemGift">
		<classes>
			<class name="androidTestCases.GetGiftCode" />
			<class name="webTestCases.RedeemGift" />
		</classes>
	</test>
	<test name="PickupWithOnlyItem">
		<classes>
			<class name="androidTestCases.PickupWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
			<class name="androidTestCases.OfflinePointReceiver" />
		</classes>
	</test>
	<test name="PickupWithGiftAndItem">
		<classes>
			<class name="androidTestCases.PickupWithGiftAndItem" />
			<class name="webTestCases.AcceptOrderCashier" />
			<class name="androidTestCases.OfflinePointReceiver" />
		</classes>
	</test> -->
	<test name="PickupWithOnlyItemV10">
		<classes>
			<class name="androidV10TestCases.PickupWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>
	
	<!-- <test name="PickupWithOnlyItem">
		<classes>
			<class name="appTestCases.PickupWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>
	<test name="PickupWithOnlyGift">
		<classes>
			<class name="appTestCases.PickupWithOnlyGift" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>
	<test name="PickupWithGiftAndItem">
		<classes>
			<class name="appTestCases.PickupWithGiftAndItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>
	<test name="DeliveryWithOnlyItem">
		<classes>
			<class name="appTestCases.DeliveryWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>
		<test name="DeliveryWithOnlyGift">
		<classes>
			<class name="appTestCases.DeliveryWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test> 
		<test name="DeliveryWithGiftAndItem">
		<classes>
			<class name="appTestCases.DeliveryWithOnlyItem" />
			<class name="webTestCases.AcceptOrderCashier" />
		</classes>
	</test>  -->
	<!-- 	<test name="DeliveryWithOnlyGift">
		<classes>
			<class name="appTestCases.DeliveryWithOnlyGift">
			<methods>
			<include name="CreateOrder" />
			<exclude name ="CheckPointsAfterRedeem"/>
			</methods>
			</class>
			<class name="webTestCases.AcceptOrderCashier" />
			<class name="appTestCases.DeliveryWithOnlyGift">
			<methods>
			<include name="CheckPointsAfterRedeem" />
			<exclude name ="CreateOrder"/>
			</methods>
			</class>
		</classes>
	</test> -->
</suite> 